# ContractorConnection Credentials
CC_USERNAME=your_username
CC_PASSWORD=your_password
CC_2FA_SECRET=your_base32_totp_secret
CC_BASE_URL=https://apps2.contractorconnection.com
STATICRYPT_PASSWORD=

# Alacrity CIP Dashboard
ALACRITY_URL=https://em.alacrity.net/your-cip-report-url
ALACRITY_STARTS_WITH=EM
ALACRITY_USERNAME=your_username
ALACRITY_PASSWORD=your_password